<!doctype html>
<html lang="en" ng-app="angularTable">
  <head>
   <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>Alphabet Club | Donation status</title>
    
    
		
      
       <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
      
      
		<link rel="stylesheet" href="assets/css/main.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      
      
      
      
      
      
      
  </head>
    <link rel="shortcut icon" href="images/alphabet_url_logof.png"/>
  <body class="is-preload">
      
      <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=1156908344663567&autoLogAppEvents=1"></script>
      
     <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
    
      <div class="modal-body text-center">
            <button type="button" class="close"style="font-size:35px; " data-dismiss="modal">&times;</button>
          <img src="images/Irfan%20Khan(RIP).jpg" class="img-fluid covid_home" alt="Responsive image">
         <div class="row justify-content-center"><a href="https://www.facebook.com/alphabet.club.aranghata/photos/a.1508614812791185/2622313784754610/?type=3&theater" target="_blank" class="btn" style=" border:1.4px solid #004d00; border-radius: 20px; margin-bottom: 10px; margin-top: 10px; font-size: 16px;"> Faceebook Post <i class="far fa-arrow-alt-circle-right"></i></a></div>
       
      </div>
      
    </div>

  </div>
</div>
      
      <header id="header">
				<div class="inner">
					<a href="index.html" class="image avatar"><img src="images/avatar.jpg" alt="" /></a>
					<h1>
					Powered by Alphabet Club</h1>
                     <h5>© 2020 Alphabet Club</h5>
				</div>
			</header>
      <div id="main">
    <div class="blink"><span class="blinking">Please make sure that no man be hungry beside us.</span></div>
            <div class="card payment_card" style="padding:2px; background-image: linear-gradient( 109.6deg,  rgba(223,234,247,1) 11.2%, rgba(244,248,252,1) 40.1% );">
               
                   
                        <h5 class="t text-center" style="padding:10px;padding-bottom: 0px; margin-top: 5px; color:#000017; "><i class="fas fa-heart" style="color:#ff4c4c;"></i> THANK YOU !!</h5><hr>
                <p style="padding-left:10px;padding-right:10px;color:#000036; text-center">Thank you for your help and support. So far we have delivered food equipment to <b style="color:#4c4c83;">509</b> helpless families! There are still many families in our area <span style="color:#003400;">(Aranghata)</span> who doesn’t get enough food on daily basis during this lockdown. If you would like to continue your support, please make another contribution or share this message with your friends and family. <br><span style="color:#006700;">We Shall Win Only By Working Together!!</span><br><b style="color:#46467f;">Please make sure that no man be hungry beside us.</b>
                    
              </p>
                
               
                <span class=" text-center text-muted">#COVID- 19</span>
                    <p class="s text-center" style="color:#000017; ">ALPHABET CLUB<br> <i>Thinking New Making New</i></p>
                
          
          </div>
          <section id="five">
              
              
               <img src="images/Stand_beside_helpless_people.jpg" class="img-fluid landing_image_covid" alt="Responsive image">
              <div class="container-fluid">
              
              <br>
              <br>
              
                  <h3 class="firsthead text-center" style="border:0.5px solid #585858; border-radius:4px;padding: 15px;" >A small <span style="color:#006700;">Contribution </span>has a <span style="color:#000019">Big Impact!!</span> </h3><br>
          <div class="row">
              <div class="col-md-6">
          <div class="card mb-3" style="background-color: #1b2845;
background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);

">
  <div class="card-body">
      
	  <h5 class="card-title text-center" style="color:#e5e5ff; border:1px solid #898999; padding: 5px; border-radius: 4px;" > <i class="fa fa-rupee"></i> Donate through bank account</h5>

          
    
      <p class="card-text text-center" style="color:#efefff;">ALPHABET CLUB <br>ACCOUNT NO &nbsp;<b style="color:#efefff;"> 111007651671</b> <br>IFSC CODE &nbsp; <b style="color:#efefff;"> WBSC0NDCB02</b> <br>BRANCH NAME &nbsp; <b style="color:#efefff;"> RANAGHAT</b></p>
      
   </div>
                  </div></div>
              <div class="col-md-6">
          <div class="card payment_card" style="background-image: linear-gradient( 109.6deg,  rgba(204,228,247,1) 11.2%, rgba(237,246,250,1) 100.2% );

">
  <div class="card-body">
      <h5 class="card-title text-center"style="color:#00004c;border:1px solid #9999ff; padding: 5px; border-radius: 4px;"><i class="fa fa-rupee"></i> Donate through PonePe</h5>
     <img src="images/phonepay.png"/ style="width: 50px;">
   
     <p class="card-text text-center" style="color:#000;">PHONE NO &nbsp;<b style="color:#000;">7797241414</b><br>
         
        
                   <a href="https://play.google.com/store/apps/details?id=com.phonepe.app&hl=en_IN" class="card-link">Google play store</a>
                        
                        
                        
                        
                        
                        
    
    
  
                     
   </div>
                  </div></div>
</div>
              </div>
          
          </section>
          <section id="one">
              
              <div class="container-fluid">
                  
                  
        <div class="row justify-content-center"><div class="col-md-6" style="border:0.5px solid #00004c; border-radius:20px; " >
            <h5 class="status text-center" style="padding: 2px; margin-top: 2px; color:#000019;" ><i>Check your <b style="color:#008100;">donation status</b></i></h5></div></div></div><br>
              <p class="text-muted text-center">we have listed down below donator name  that we have recived so far. ©Alphabet Club</p>
            
              <br>
	<div role="main" >
    
        
		 
			<div class="bs-component" ng-controller="listdata">
				
				<form class="form-inline" >
					<div class="form-group" >
						<label>Search donator name here&nbsp; <i class="fa fa-search" aria-hidden="true"></i>&nbsp;</label>
                        
						<input type="text" ng-model="search" class="form-control" placeholder= "Search" style="background:#ECF0F1;">
					</div>
				</form>
                
				<table class="table text-center" style="margin-top: -30px;">
					<thead class="b" style="background-image: linear-gradient( 171.8deg,  rgba(5,111,146,1) 13.5%, rgba(6,57,84,1) 78.6% );" >
						<tr>
							<th ng-click="sort('id') " class="a text-center" style="color:#fff;">Id
								<span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sort('Donner_name')"  class="a text-center"style="color:#fff;">Name
								<span class="glyphicon sort-icon" ng-show="sortKey=='first_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sort('Pay_method')"  class="a text-center"style="color:#fff;">Via
								<span class="glyphicon sort-icon" ng-show="sortKey=='last_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
                            <th  class="a text-center"style="color:#fff;">Status								
							</th>
							
						</tr>
					</thead>
					<tbody>
						<tr dir-paginate="user in users|orderBy:sortKey:reverse|filter:search|itemsPerPage:10">
							<td>{{user.id}}</td>
							<td style="color:#00004e;">{{user.Donner_name}}</td>
							<td>{{user.Pay_method}}</td>
							<td style="color:green;">Done</td>
						</tr>
					</tbody>
				</table> 
         
				<dir-pagination-controls
					max-size="5"
					direction-links="true"
					boundary-links="true" class="pagination"   >
				</dir-pagination-controls>
                 
			</div>
		
	 <p class="text-muted">As we are now in process of collecting donator list, your name may not appear. It will be updated very soon.</p>
   
    </div>
               <div class="container-fluid">
<marquee behavior="scroll" direction="left"
         onmousedown="this.stop();" onmouseup="this.start();"><a href="https://www.facebook.com/alphabet.club.aranghata/photos/a.1508614812791185/2612007042451951/?type=3&theater" target="_blank"> If you would like to continue your support, kindly make another contribution or share us with your friends and family. Your help is valuable during LOCKDOWN. Click our  <a class="updateslink" style="text-decoration: none;" href="https://www.facebook.com/alphabet.club.aranghata/photos/a.1508614812791185/2612007042451951/?type=3&theater" target="_blank">FACEBOOK PAGE here</a>.</a></marquee></div>
              </section>
           
          <section id="two">
          <h3> Case overview of <span style="color:#ff4c4c;">COVID- 19</span></h3>
              <p class="text-muted">Last updated: April 29, 2020, 20:27 IST</p>
          <br>
               <div class="row justify-content-center">
              <div class="col-lg-10 col-12 text-center">
                  
          <div class="card text-white  mb-3" style="background-image: radial-gradient( circle 926px at 2.7% 11%,  rgba(17,29,94,1) 0%, rgba(178,31,102,1) 90% );">
  <div class="card-header"> <i class="far fa-chart-bar" style="color: #ffffd8;"></i>&nbsp;&nbsp;Stat of <span style="color:#d0ffd3;">WEST BENGAL</span></div>
  <div class="card-body">
      <div class="col-md-12 col-12 ">
      <div class="row justify-content-center ">
      <div class="col-md-4 col-4" style="border-right:1px solid hsla(200, 10%, 50%,100);">
          
          <p style="color:#e5e5ff
                    ;"> Confirmed</p>
          <h5 style="color:#ccccff
">725</h5>
          
          </div>
          
           <div class="col-md-4 col-4" style="border-right:1px solid hsla(200, 10%, 50%,100);">
          
           <p style="color:#cfffd2
                     ;"> Recovered</p>
          <h5 style="color:#a7ebc4
;">119</h5>
          
          </div>
         
          
          <div class="col-md-4 col-4">
          
           <p style="color:#ffb2b2
                     ;"> Death</p>
          <h5 style="color:#ff9999
;">22</h5>
          
          </div>
         
          
      
          </div>
      
      </div>
      </div>
              </div>
  </div>
</div>
          
              <br>
               <div class="row justify-content-center">
               <div class="col-lg-10 col-12 text-center">
                   
          <div class="card text-white  mb-3" style="background-image: linear-gradient( 178.1deg,  rgba(60,55,106,1) 8.5%, rgba(23,20,69,1) 82.4% );">
  <div class="card-header"> <i class="far fa-chart-bar" style="color: #ffffd8;"></i>&nbsp;&nbsp;Stat of <span style="color:#d0ffd3;">INDIA</span></div>
  <div class="card-body">
      <div class="col-md-12 col-12 ">
      <div class="row justify-content-center ">
      <div class="col-md-4 col-4" style="border-right:1px solid hsla(200, 10%, 50%,100);">
          
          <p style="color:#e5e5ff
                    ;"> Confirmed</p>
          <h5 style="color:#ccccff
">31332</h5>
          
          </div>
          
           <div class="col-md-4 col-4" style="border-right:1px solid hsla(200, 10%, 50%,100);">
          
           <p style="color:#cfffd2
                     ;"> Recovered</p>
          <h5 style="color:#a7ebc4
;">7747</h5>
          
          </div>
         
          
          <div class="col-md-4 col-4">
          
              <p style="color:#ffb2b2
                     ;"> Death</p>
          <h5 style="color:#ff9999
;">1008</h5>
          
          </div>
         
          
      
          </div>
      
      </div>
      </div>
              </div>
  </div>
</div>
          <p class="text-muted text-center">More statistics <a class="updateslink" style="text-decoration: none;" href="https://www.worldometers.info/coronavirus/" target="_blank">click here</a></p>
        
          </section>
          
           <section id="six">
               <div class="row justify-content-center">
                   <div class="col-md-7 col-12">
               <h3  class=" text-center" style="border:0.5px solid #585858; border-radius:4px;padding: 15px;">Effective <span style="color:#006700;">mask</span> to prevent <span style="color:#ff4c4c;">Coronavirus</span> </h3><br>
             
 
      <img src="images/covid19-advise.png" class="img-fluid prevent_image_covid" alt="Responsive image" style=" box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);"  >
               <br>
               <p class="text-muted text-center">Collected information from <a class="updateslink" style="text-decoration: none;" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" target="_blank">WHO</a></p>
               </div>
               </div>
          
          
          </section>
          
          
          
          
          <section id="five">
              <h3>Latest updates of  <span style="color:#ff4c4c;">COVID- 19</span> </h3>
              <p class="text-muted">Coronavirus Live India Updates </p>
         
              
               <div class="row">
                    <div class="col-md-6">
    <div class="card  pannelcard">
 
  <div class="card-body">
      <div class="row">
          
          <div class="col-md-3  col-3 cimage">
           
             <img src="images/icon-coronavirus.png"/></div>
           <div class="col-md-9 col-9">
                
              <a class="updateslink"  href="https://www.ndtv.com/india-news/coronavirus-227-covid-19-containment-zones-in-kolkata-total-348-in-4-bengal-hotspots-2219361" target="_blank">227 COVID-19 Containment Zones In Kolkata, Total 348 In 4 Bengal Hotspots</a> <img src="images/new.gif"/>
        
              <p class="card-text"><span style="font-weight: bold;">28.04.20</span></p></div></div>
   
        </div></div></div>
                   
                    <div class="col-md-6">
    <div class="card  pannelcard">
 
  <div class="card-body">
      <div class="row">
          
          <div class="col-md-3  col-3 cimage">
           
             <img src="images/icon-coronavirus.png"/></div>
           <div class="col-md-9 col-9">
                
              <a class="updateslink"  href="https://economictimes.indiatimes.com/news/politics-and-nation/low-testing-high-cases-west-bengals-grave-scenario/articleshow/75396185.cms" target="_blank">‘Low testing, high cases: West Bengal's grave scenario’</a> <img src="images/new.gif"/>
        
              <p class="card-text"><span style="font-weight: bold;">27.04.20</span></p></div></div>
   
        </div></div></div>
                   
                   
                   
                   
                   
                    <div class="col-md-6">
    <div class="card  pannelcard">
 
  <div class="card-body">
      <div class="row">
          
          <div class="col-md-3  col-3 cimage">
           
             <img src="images/icon-coronavirus.png"/></div>
           <div class="col-md-9 col-9">
                
              <a class="updateslink"  href="https://www.livemint.com/news/india/40-new-coronavirus-cases-reported-in-bengal-as-of-8-00-am-apr-26-11587871167577.html" target="_blank">40 new coronavirus cases reported in Bengal as of 8:00 AM - Apr 26</a> <img src="images/new.gif"/>
        
              <p class="card-text"><span style="font-weight: bold;">26.04.20</span></p>
         </div></div>
        </div></div></div>
                   
                   
                   
                   
                   
                   
                   
                   <div class="col-md-6">
    <div class="card  pannelcard">
 
  <div class="card-body">
      <div class="row">
          
          <div class="col-md-3  col-3 cimage">
           
             <img src="images/icon-coronavirus.png"/></div>
           <div class="col-md-9 col-9">
                
              <a class="updateslink"  href="https://www.news18.com/news/india/coronavirus-pandemic-live-updates-covid-19-latest-narendra-modi-cases-deaths-cure-vaccine-mumbai-delhi-2-2591833.html" target="_blank">India's Covid-19 Death Toll Rises to 779, Cases Near 25,000</a> <img src="images/new.gif"/>
        
              <p class="card-text"><span style="font-weight: bold;">25.04.20</span></p></div></div>
   
        </div></div></div>
                    
                   
          
</div>
              
              
              
              
              
              
              
              
          
          </section>
          
         <section id="seven">
          <h5  style="color:#006700;"><i class="fas fa-smile" style="color: #00b300;"></i>&nbsp;Make sure you leave feedback in below section.</h5>
             <p class="text-muted"> <i>Note: You need to login with your facebook account on your present browser. &copy;Alphabet Club</i></p>
          <br>
          <div class="fb-comments" data-href="https://alphabetclub.github.io/covid19_donation.html" data-numposts="5" data-width=""></div>
          
         
          <hr>
             <div class="row justify-content-center"><a href="index.html" class="btn" style=" border:1.4px solid #141937; border-radius: 20px; margin-bottom: 10px;  font-size: 16px;"> GO TO HOMEPAGE <i class="far fa-arrow-alt-circle-right"></i></a></div>
             
                          
             
             
             
          <div class="col-lg-12">
                
          <p class="text-muted text-center">Copyright owner &copy;Alphabet Club<br>Thank you for visiting on our page. </p>
               <p class=" text-center text-muted"></p>
              <p class="text-muted text-center">&copy;2020 webpage of <a href="index.html">Alphabet Club</a></p></div></section>
          <br>
          <div class="container">
  
  
 
  
</div>
          


      </div> 
     
       <!-- Footer -->
		<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="https://www.facebook.com/alphabet.club.aranghata/?ref=search&__tn__=%2Cd%2CP-R&eid=ARDUdX6GXEM5BUS4hIA1XVzldmv9VRQlvCF6QiBp34b3_CiBRc-nTeqVb4vv3z8xsHRci-xmMlPlREhB" class="icon brands fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="credit.html"><span class="label">Credit</span></a></li>
						
						
						
					</ul>
					<ul class="copyright">
					<li>&copy;2020 webpage of <a href="index.html">Alphabet Club</a></li>
					</ul>
				</div>
			</footer>
      
      <!-- Scripts -->
         
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
        
		<script src="lib/angular/angular.js"></script>
		<script src="lib/dirPagination.js"></script>
		<script src="app/app.js"></script>
      <script  src="assets/js/popup.js">
      
      
      
       <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
        
      
  </body>
</html>
